body{
  margin: 0px;
}
a {
  text-decoration: none;
  color: #4F4F4F;
}

a:hover .fa-arrow-up {
  color: #ff8b60; 
}

a:hover .fa-arrow-down {
  color: #9494FF; 
}

a .fa-arrow-up {
    color: black; 
}
  
a .fa-arrow-down {
    color: #1861ff; 
}

.mid{
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  justify-content: center;
}

a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 0px;
  transition: color 0.3s;
}

span {
  margin-left: 8px; 
}

.upvote-group, .downvote-group {
    border: 1px solid #ddd;
    border-radius: 200px;
    padding: 5px 10px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    margin-right: 8px;
    transition: all 0.3s ease;
  }

.qDetails{
  border: 1px solid white;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgb(205, 199, 199); 
  padding: 20px 50px 20px 50px;
  margin: 20px;
}

.comments{
  border: 1px solid white;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgb(205, 199, 199); 
  padding: 10px;
  margin: 10px;
}

.deleteCom{
  float: right;
  margin-right: 20px;
}

i:hover{
  color: rgb(235, 64, 64);
}

.commentForm{
  justify-content:space-between;
  align-content: center;
}
.commentForm textarea{
  width: 100%;
  padding: 19px;
  margin-left: 10px;
  border: 2px solid black;
}

.commentForm button{
  padding: 25px;
  float: right;
  border: 2px solid black;
}

.commentForm table ,tr{
  width:100%;
}
.td2{
  width: 12%;
}
